<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background: url(https://images.unsplash.com/photo-1505682634904-d7c8d95cdc50?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0d156f806a757123e569cbc0206d43fe&auto=format&fit=crop&w=1500&q=80);background-repeat: no-repeat;background-size: cover;">
<div style="margin-left:80px;margin-left: 33%">
  <h1 style="color: white;font-family: 'Raleway', sans-serif;font-size: 45px;">DOCTOR'S DOOR</h1>
</div>
<div>
<form action="/name" method="POST">
    <label >Enter Symptom: </label>
    <input type="text" name="symp" placeholder="Enter Symptom">
    <button>Send</button>
</form>
  
</div>

     
</body>
</html>
